


div {
    /* border: 1px solid rgb(254, 74, 74); */
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.container {
    height: 600px;
    width: 600px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    font-size: 128px;
}

.newGame{
    width: 100px;
    height: 50px;
    font-size: 18px;
}

button {
    height: 100%;
    width: 100%;

}